<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Weather or Not!?</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.search">
          <i class="icon ion-search"> Find a city</i>
        </ion-item>
        <ion-item menu-close ui-sref="app.settings">
          <i class="icon ion-android-settings"> Settings</i>
        </ion-item>
      </ion-list>
      <!--divider-->
      <ion-item class="item-divider">My locations</ion-item>
      <!--item for each location-->
      <a class="item" href="#" ng-repeat="fav in favorites">{{fav.city}}</a>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
