<ion-view view-title="Settings">
  <ion-content>
    <ul class="list">
      <ion-item class="divider">
        <div class="h4">Display precision</div>
      </ion-item>
      <div class="item range range-positive">
        <span>30&deg;</span>
        <input type="range" ng-model="$parent.precision" min="0" max="2">
        <span>30.35&deg;</span>
      </div>
      <ion-item class="divider">
        <div class="h4">Select scale</div>
      </ion-item>
      <ion-radio ng-model="$parent.scale" ng-value="'F'">Fahrenheit</ion-radio>
      <ion-radio  ng-model="$parent.scale" ng-value="'C'">Celsius</ion-radio>
      <ion-radio ng-model="$parent.scale" ng-value="'K'">Kelvin</ion-radio>
      <ion-radio ng-change="randomScale()" ng-model="$parent.scale" ng-value="'X'">Random</ion-radio>
    </ul>
  </ion-content>
</ion-view>
