<ion-view view-title="Settings">
  <ion-content>
   <!-- <ion-item class="row"><h1>Settings</h1></ion-item>-->
    <ion-item class="row"><h1>Temperature display</h1></ion-item>
  <div class="list">

  <label class="item item-radio">
    <input type="radio" name="measure">
    <div class="item-content">
      Fahrenheit
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
   <label class="item item-radio">
    <input type="radio" name="measure">
    <div class="item-content">
      Celsius
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
 <label class="item item-radio">
    <input type="radio" name="measure">
    <div class="item-content">
      Kelvin
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
   <label class="item item-radio">
    <input type="radio" name="measure">
    <div class="item-content">
      Fahrenheit
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
   <label class="item item-radio">
    <input type="radio" name="measure">
    <div class="item-content">
      Fahrenheit
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

</div>
  </ion-content>
</ion-view>
