<ion-view view-title="{{city}}">
  <ion-content>

    <ion-item class="row">
      <ion-item class="col">
        <h1 ng-hide="current">--&deg;{{scale}}</h1>
        <h1 ng-show="current">{{current.temperature | number:precision}}&deg;{{scale}}</h1>
      </ion-item>
    </ion-item>
    <ion-item class="row">
      <ion-item class="col">
        <p>Current forecast: {{current.summary}}</p>
      </ion-item>
    </ion-item>
   <!-- <ion-item class="row">
      <ion-item class="col">
        <p>Looking ahead: {{daily.summary}}</p>
      </ion-item>
    </ion-item>-->


  </ion-content>
</ion-view>
