<ion-view view-title="Location Search">
  <ion-content>
    <ion-list class="list-inset">
      <!--adds padding-->
      <ion-item class="item-input-inset">
        <!--adds gray box on input-->
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Enter a location..." ng-model="$parent.$parent.query" ng-change="$parent.queryChanged()" />
        </label>
      </ion-item>
      <!--ui-sref makes the list from the ng-repeat clickable-->
      <ion-item ng-repeat="result in results" ui-sref="app.weather({
       city: result.formatted_address,
       lat: result.geometry.location.lat,
       lng: result.geometry.location.lng
       })">
        {{result.formatted_address}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
